
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!---<p class="network-name">medical-supply@0.0.1.bna</p>-->
        <p class="navbar-brand">Medical-supply-Chain</p>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown">Assets</a>
            <ul class="dropdown-menu scrollable-menu">
              
              <li><a [routerLink]="['/Contract']">Contract</a></li>
              
              <li><a [routerLink]="['/Contract2']">Contract2</a></li>
              
              <li><a [routerLink]="['/Shipment']">Shipment</a></li>
              
              <li><a [routerLink]="['/Shipment2']">Shipment2</a></li>
              
            </ul>
        </li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Participants</a>
          <ul class="dropdown-menu scrollable-menu">
            
            <li><a [routerLink]="['/Supplier']">Supplier</a></li>
            
            <li><a [routerLink]="['/Shipper']">Shipper</a></li>
            
            <li><a [routerLink]="['/Manufacturer']">Manufacturer</a></li>
            
            <li><a [routerLink]="['/Distributor']">Distributor</a></li>
            
          </ul>
      </li>
      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
        <ul class="dropdown-menu scrollable-menu">
          
          <li><a [routerLink]="['/ShipmentReceived']">ShipmentReceived</a></li>
          
          <li><a [routerLink]="['/ShipmentReceived2']">ShipmentReceived2</a></li>
          
          <li><a [routerLink]="['/SetupDemo']">SetupDemo</a></li>
          
        </ul>
    </li>
    <li class="dropdown active">
      <a class="dropdown-toggle" data-toggle="dropdown">Audit Logs</a>
      <ul class="dropdown-menu scrollable-menu">
      <li><a [routerLink]="['/AllTransactions']">Audit Logs</a></li>
      </ul>
    </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
